<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS -->
  <link rel="stylesheet" href="/stylesheets/general.css">
  <link rel="stylesheet" href="/stylesheets/newProduct.css">

  <!-- TailwindCSS -->
  <link rel="stylesheet" href="/stylesheets/output.css">

  <!-- Font Awesone -->
  <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/images/oiler.png" type="image/x-icon">

  <title><%= dataStatic.tabTitle %></title>
</head>
<body>

  <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <i class="fa fa-cog fa-fw"></i>
      <span class="font-semibold text-xl tracking-tight">Lubricentro</span>
    </div>
    <div class="block lg:hidden">
      <button id='boton' class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      </button>
    </div>
    <div id='menu' class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-sm lg:flex-grow">
        <a href="http://localhost:3002/products" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
          Productos
        </a>
        <a href="http://localhost:3002/sales" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
          Ventas
        </a>
      </div>
    </div>
  </nav>

  <h1 class="my-6 font-bold text-center uppercase font-serif text-xl">Nuevo Producto</h1>

  <form id="frmNewProduct" class="frmNewProduct">
    <div class="cntField">
      <label class="lbl" for="txtDescription">Descripcion de producto:</label>
      <input class="input" type="text" name="description" id="txtDescription">
    </div>
    <div class="cntField">
      <label class="lbl" for="txtBrand">Marca de producto:</label>
      <input class="input" type="text" name="brand" id="txtBrand">
    </div>
    <div class="cntField">
      <label class="lbl" for="txtStock">Stock de producto:</label>
      <input class="input" type="number" name="stock" id="txtStock">
    </div>
    <div class="cntField">
      <label class="lbl" for="txtPriceWNIva">Precio sin IVA:</label>
      <input class="input" type="number" name="priceWNIva" id="txtPriceWNIva">
    </div>
    <button id="btnEnviar" class="btn">Cargar Producto</button>
  </form>

  <script src="/js/newProduct.js"></script>
</body>
</html>