html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #faebd7;
}

body {
  background-image: url('../images/Background_Login.jpg');
  background-size: cover; /* Asegura que la imagen cubra todo el espacio */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.cntNav, .loginAccess {
  margin: 0;
  padding: 0;
}

.cntNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5em;
  backdrop-filter: blur(10px);
  background-color: rgba(87, 82, 76, 0.2);
  height: 4em;
  border-radius: 8px;
}

.loginAccess {
  margin-right: 2em;
  color: #c3ebeb;
  cursor: pointer;
  text-decoration: underline;
}

.login-form {
  backdrop-filter: blur(20px);
  background-color: rgba(87, 82, 76, 0.2);
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: auto;
  margin-top: 2em;
}

.closeFrmLogin {
  display: none;
}

.cntIconClose {
  text-align: right;
}

.iconClose {
  cursor: pointer;
}

.frmTitle {
  text-align: center;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-container input {
  padding-right: 120px; /* Espacio para el ícono */
  margin-bottom: 1em;
}

.input-container .icon {
  position: absolute;
  right: 10px; /* Ajusta esta distancia según sea necesario */
  pointer-events: none; /* Hace que el ícono no sea interactivo */
}

.input {
  background-color: transparent;
  caret-color: #ffffff;
  color: rgb(175, 231, 231);
  border: none;
  border-bottom: 2px solid #d4b3b3;
  padding: 10px 0 10px 0;
}

.input::placeholder {
  color: #d3c3c3;
}

.input:focus {
  outline: none
}

.btnSubmit {
  padding: 20px 0 20px 0;
  border: none;
  border-radius: 10px;
  margin-top: 1em;
  cursor: pointer;
}